@{
    ViewBag.Title = "Confirm Email";
}


    <div class="displayFlexColumn" id="confirmEmailContainer">
        <div>
            <h2 class="text-white">@ViewBag.Title</h2>
        </div>

        <div>
            <p class="text-white">
                Thank you for confirming your email, click the button below to go to the login page. <br /><span class=" textDecorationUnderline">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class="btn backgroundWhite colorBlack width-20", id = "loginLink"})</span>
            </p>
        </div>
    </div>
