@model RichlynnFinancialPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link href="//fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/site.css">
    <link rel="stylesheet" href="~/Content/loginStyle.css" />
    <link href="~/Images/favicon.png" type="image/png" rel="icon" />
    <title>Richlynn Financial</title>
</head>

<body>


    <div class="container displayFlex" id="forgotPasswordContainer">
        @*<div class="row width-100">
            <div class="col width-100">
                <h2 class="text-white ml-3">Forgot Password</h2>
            </div>
        </div>*@


        <div class="row width-100" id="forgotPasswordBottomRow">
            <div class="col width-100">


                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal col-md-6 text-white width-100", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4 class="ml-3">Enter your email.</h4>
                    <hr />*@
                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <div class="login-box width-100">
                        <div class="login-snip width-100" id=forgotPasswordSnip>
                            <h1 class="fontSizeXLarge" id=loginLogo>Richlynn Financial </h1>


                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>

                            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>


                            <div class="login-space">
                                <div class="login">


                                    <div class="form-group">
                                       
                                        <div class="col-md-10 group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input fontSizeLarger fontFamilyGaramond", placeholder = "Email" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col width-100">
                                            <div class="group"> <input type="submit" class="button fontSizeLarger fontFamilyGaramond" value="Email Link"> </div>
                                            @Html.ActionLink("Back to Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "backToLoginLink", @class = "colorWhite" })
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</html>

